<div class="card-header">
    <span class="h4">Latest Song</span>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li *ngFor="let song of latestSongs" class="media border-bottom py-2">
        <div class="position-relative">
          <img src="{{song.avatar}}" class="mr-3 rounded" width="85" height="85" alt="...">
        </div>
        <div class="media-body">
          <h4 class="mt-0 mb-1"><a [routerLink]="['/songs/'+song.id]">{{song.name}}</a></h4>
          <small>{{song.author}}</small>
        </div>
        <a [routerLink]="['/songs/'+song.id]" class="px-2 py-1 mr-2 bg-success text-white" title="Play"><i class="fas fa-play"></i></a>
        <!-- <a href="#" class="px-2 py-1 bg-danger text-white"><i class="far fa-heart"></i></a> -->
      </li>
    </ul>
  </div>
