<app-header></app-header>
<div class="container">
  <table class="table table-bordered" border="2">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">createdAt</th>
            <th scope="col">numberOfView</th>
            <th scope="col">author</th>
            <th scope="col">avatar</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let song of listSong; let i = index">
                <td>{{song.id}}</td>
                <td>{{song.name}}</td>
                <td>{{song.createdAt}}</td>
                <td>{{song.numberOfView}}</td>
                <td>{{song.author}}</td>
                <td><img style="height: 100px; width: 100px;" src="{{song.avatar}}"></td>
            </tr>
        </tbody>
      </table>
</div>
<app-footer></app-footer>