<app-header></app-header>
<div class="container">
  <table class="table table-bordered" border="2">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">NumberOfView</th>
            <th scope="col">Author</th>
            <th scope="col">Singer</th>
            <th scope="col">Avatar</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let song of listSong; let i = index">
                <td>{{song.id}}</td>
                <td>{{song.name}}</td>
                <td>{{song.createdAt.substring(0,10)}}</td>
                <td>{{song.numberOfView}}</td>
                <td>{{song.author}}</td>
                <td>{{song.singer}}</td>
                <td><img style="height: 100px; width: 100px;" src="{{song.avatar}}"></td>
                <td> <a [routerLink]="['/songs/edit',currentUser.username,song.id]">Edit</a></td >
                  <td> <button type="button" class="btn btn-secondary" >Delete</button></td>
            </tr>
        </tbody>
      </table>
</div>
<app-footer></app-footer>