<form style="width: 50%; margin: 0 auto;" (ngSubmit)="submit()" >
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="song.name" name="name">
    </div>

    <div class="form-group">
        <label for="name">file</label>
        <input type="file" class="form-control" id="file" required [(ngModel)]="song.file" name="file" (change)="showPreviewFile($event)">
    </div>
  
    <div class="form-group">
      <label for="name">author</label>
      <input type="text" class="form-control" id="author" required [(ngModel)]="song.author" name="author">
    </div>

    <div class="form-group">
        <label for="name">avatar</label>
        <input type="file" class="form-control" id="avatar" required [(ngModel)]="song.avatar" name="avatar" (change)="showPreview($event)">
      </div>

      <div class="form-group">
        <label for="name">lyric</label>
        <input type="text" class="form-control" id="lyric" required [(ngModel)]="song.lyric" name="lyric">
      </div>
   
             
    <button type="submit" class="btn btn-success" >Submit</button>

    <div>
      <p style="color: red" *ngIf="createSuccess">created successfull</p>
    </div>
  </form>