<app-header></app-header>
<div class="container center">
  <div class="item item-1">
    <table width="750px">
      <tr>
        <td width="70%" style="padding-bottom: 10px; font-size: 20px">{{song.name}} - {{song.author}}</td>
    </tr>
    </table>
    <table width="750px">
      <tr>
        <td width="200px" style="padding: 0"><img width="200px" height="200px" [src]="song.avatar"></td>
        <td style="background-image: url(https://anhdep.tv/attachments/dd5d8b8e6f192fd55d554cbc2edddb4f-jpeg.9863/);
               background-repeat: no-repeat">
          <span style="font-size: 20px;color: black">
            {{song.name}}
            <br>
            Singer: {{song.singer}}
          </span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <ngx-audio-player [autoPlay]="false" 
                            [displayPlaylist]="false" 
                            [displayTitle]="false" 
                            [displayVolumeControls]="true" 
                            [disablePositionSlider]="false" 
                            [displayDuration]="true" 
                            [expanded]="true" 
                            [playlist]="singleTrack">
          </ngx-audio-player>
        </td>
      </tr>
    </table>
    <table style="margin: 10px 0 10px 0" width="750px">
      <tr>
        <td width="40%"><span style="font-size: 15px">Played by</span></td>
      </tr>
      <tr>
        <td><span style="font-size: 18px;color: blueviolet"><strong>MAESTRO ENTERTAINMENT</strong></span></td>
      </tr>
      <ng-container *ngIf="currentUser">
        <td rowspan="2">
          <div class="dropdown" align="right">
            <a class="btn btn-light btg-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Add to playlist
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <ng-container *ngFor="let playlist of listPlaylist">
                <button class="dropdown-item" *ngIf="id != null && playlist.id != null" (click)="addSongToPlaylist(id,playlist.id)">{{playlist.name}}</button>
              </ng-container>
            </div>
          </div>
        </td>
      </ng-container>
    </table>
    <table class="table table-bordered">
      <tr>
        <td>
          <strong style="font-size: 20px">Lyric: {{song.name}}</strong>
          <br/>
          <span style="font-size: 17px;color: gray">Author: {{song.author}}</span>
          <br>
          <span style="font-size: 17px;color: gray">Singer: {{song.singer}}</span> 
        </td>
      </tr>
      <tr>
        <td>
          <pre class="lyric" *ngIf="showFullLyric" style="display: block;font-size: 13px; font-family: Helvetica, Arial, sans-serif">{{song.lyric}}</pre>
          <pre *ngIf="!showFullLyric" style="display: inline;font-size: 13px; font-family: Helvetica, Arial, sans-serif">{{song.lyric}}</pre>
          <br *ngIf="!showFullLyric">
          <span><button *ngIf="showFullLyric" type="button" class="btn btn-link" (click)="collapseLyric()">See more</button></span>
          <button *ngIf="!showFullLyric" type="button" class="btn btn-link" (click)="collapseLyric()">Collapse</button>
        </td>
      </tr>
    </table>
  </div>
</div>
<app-footer></app-footer>