<app-header></app-header>
<div class="main" style="width: 82%; height: auto; margin: 0 auto">
    <div class="card">
      <div class="card-header">
        <span class="h4">New Songs</span>
      </div>
      <div class="card-body">
        <div class="slider slider-for">
        </div>
        <div class="slider slider-nav">
  
          <div *ngFor="let song of listSongs">
            <a href="songs/{{song.id}}">
              <h3><img src="{{song.avatar}}" width="200px" height="200px"></h3>
              <p style="margin-left: 20px; color: black">{{song.name}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">

  <app-footer></app-footer>